* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: monospace;
}

.contenedor {
  width: 100%;
  height: 100vh;
  background: white;
}

.contenido {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  padding: 0 4rem;
}

.contenido img {
  width: 100%;
}

img {
  margin-bottom: 4rem;
}