/*Predeterminado de la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  display: flex;

  /* Centra verticalmente */
  align-items: center;
  justify-content: space-between;

  /*valor izquierda modifica espacio arriba y abajo y valor derecho espacio de izquierda y derecha*/
  padding: 0 2em;
  background-color: white;
  opacity: 0.6;
  z-index: 10;
}

.items-izquierda a, .items-derecha a{
  opacity: 0.6;
  color:black
}
.items-izquierda a:hover, .items-derecha a:hover{
  opacity: 1;
}


a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: "fuentesuaves";
  font-style: oblique;
  font-size: 17px;
}

a img {
  width: 20px;
  height: auto;
  margin: 0;
}

/*Uso font face para añadir las fuentes que usare en mi pagina web*/
@font-face {
  font-family: "fuentefuertes";
  src: url(/fonts/sephir.regular.otf);
}
@font-face {
  font-family: "fuentesuaves";
  src: url(/fonts/Spectral-Regular.ttf);
}

/*En .logo cambiare todo lo relacionado a mi logo en mi pagina principal*/
.logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: "fuentefuertes";
  z-index: 20;
}

.contenedor {
  width: 100%;
  height: 100vh;
  background-color: white;
}

/*Fondo de las cartas*/
.contenido {
  padding: 3%;
  width: 100%;
  height: 100vh;
  background-color: #e9f7ef ;
  /* Flexbox para alinear las cartas horizontalmente */
  display: flex;
  justify-content: space-around;  /* Distribuye las cartas con espacio entre ellas */
 
}

/*Ajuste de las cartas en relacion conel fondo agregando animaciones con hover*/
.contenido > div {
  background-color: #113a13;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  float: left;
  overflow:hidden;
  margin-bottom: 20%;
}

.contenido a {
  color: white; 
  text-decoration: none;
  display: block;
  padding: 3px 3px;
}


.contenido > div:hover {
  transform: translateY(-10px);
  background-color: #173017;
}